*.pyc
*.zip
*.so
*.s
*.c
*.tar
*.vtu
*.pvd
build/*
tmp/*
__pycache__
core
*/results/*
results/*
*.out
*.mp4
*.h5
*.nu
*.loci
*.txt
*.o
*.exe
fort.*
*.mu
*~
*.dat
*.lpu
*/data/*
*/*/build/*
*.cprof
*.prof
*.profile
*.json
*.kgrind
*.calltree
cheb/*.c
cheb/*.html
*/build/
*.gif
*.html
*.webm
build/
*.egg-info
.eggs/
